body {
  background-color: #e7e7e7
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.dimmed.dimmable>.ui.animating.dimmer, .dimmed.dimmable>.ui.visible.dimmer, .ui.active.dimmer{
  display: flex!important;
}
.ui.form .fields, .ui.form .field{
  margin-bottom: 3rem;
}

.ui.form .field>label {
  margin: 0 0 0.8rem 0;
}

label.checked::after{
  content: "\f00c";
}
